/* general properties */
* {
   box-sizing: border-box;
   font-family: Impact, sans-serif;
}

form {
   background-color: #99d5ff;
   padding: 80px;
   width: 50%;
   margin: -300px auto;
   text-align: center;
}

body {
   background-color: #ffffff;
}

/* label properties */
#tempCalc label {
   font-size: 30px;
}

/* temperature properties */
#temp {
   border: none;
   padding: 10px;
   height: 40px;
   width: 100px;
   font-size: 20px;
   margin-top: 20px;
}

/* temperature difference properties */
#temp_diff {
   height: 40px;
   border: none;
   margin-top: 20px;
   font-size: 15px;
   vertical-align: top;
}

/* submit button properties */
[type="submit"] {
   height: 35px;
   margin: 20px;
   width: 100px;
   font-size: 15px;
   border: none;
   background-color: black;
   color: white;
}

/* result container properties */
#resultContainer {
   font-size: 18px;
}
